@tailwind base;
@tailwind utilities;
@tailwind components;

*::-webkit-scrollbar-track {
  border-radius: 2rem;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
  border-radius: 2rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #333333;
}
